// Global Variables

$border-radius: 10px;
$shadow: 0 0 5px 0 rgba(0,0,0,.2);
$red: #f2243f;
$white: #ffffff;
$grey: #eaeaea;
$green: #00b17e;

// Animated Loader

.initLoading,
.resultsLoading {
	.loader {
		position: absolute;
		z-index: 99999999;
		top: calc(50% - 50px);
		left: calc(50% - 50px);
		transform: translate(-50%, -50%);
		opacity: 1;
		width: 100px;
		height: 100px;
		animation-duration: 1.25s;
		
		&:before {
			top: 6px;
			right: 6px;
			bottom: 6px;
			left: 6px;
			animation-duration: 1.5s;
		}
	
		&:after {
			top: 14px;
			right: 14px;
			bottom: 14px;
			left: 14px;
			animation-duration: 1s;
		}
		
	}

	.loader,
	.loader:after,
	.loader:before {
		border: 3px solid transparent;
		border-radius: 50%;
		border-top-color: $red;
		animation-name: loader;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.loader:after,
	.loader:before {
		content: "";
		position: absolute;
	}

	@keyframes loader {
		0% { transform: rotate(0deg); }
		to { transform: rotate(1turn); }
	}
}



html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $grey;
}

.selection {
	height: 200px;

	.leave,
	.arrive {
		width: 250px;
		height: 60px;
		border-radius: $border-radius;
		border: none;
		box-shadow: $shadow;
		text-align: center;
	}

	.arrive {
		margin-left: 20px;
	}
}

// Results

.results {
	align-content: flex-start;
	min-height: calc(100vh - 200px);
	overflow: hidden auto;
	position: relative;
	padding-bottom: 20px;
	
	.ferry {
		&-block {
			display: flex;
			border-radius: $border-radius;
			box-shadow: $shadow;
			background-color: $white;
			padding: 0 0 0 20px;
			margin-top: 20px;

			.data {
				display: flex;
				align-items: center;
				margin: 0 20px 0 0;
				font-weight: 600;
	
				svg {
					margin-right: 5px;
					width: 20px;
					height: 20px;
				}
	
				&.title {
					margin: 0 0 10px 0;
				}
			}
		}

		h2 {
			font-size: 1.5em;
			font-weight: 400;
			margin-bottom: 10px;
		}

		h3 {
			font-size: 1em;
			font-weight: 400;
		}

		&-info,
		&-data {
			display: flex;
		}

		&-info {
			flex-direction: column;
			padding: 20px 0;
		}

		.time {
			justify-content: center;
			width: 130px;
			color: $white;
			margin: 0 0 0 auto;
			padding: 20px;
			background-color: $green;
			border-radius: 0 $border-radius $border-radius 0;
		}

	}
}
