.initLoading .loader,
.resultsLoading .loader {
  position: absolute;
  z-index: 99999999;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 100px;
  height: 100px;
  animation-duration: 1.25s;
}
.initLoading .loader:before,
.resultsLoading .loader:before {
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;
  animation-duration: 1.5s;
}
.initLoading .loader:after,
.resultsLoading .loader:after {
  top: 14px;
  right: 14px;
  bottom: 14px;
  left: 14px;
  animation-duration: 1s;
}
.initLoading .loader,
.initLoading .loader:after,
.initLoading .loader:before,
.resultsLoading .loader,
.resultsLoading .loader:after,
.resultsLoading .loader:before {
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: #f2243f;
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.initLoading .loader:after,
.initLoading .loader:before,
.resultsLoading .loader:after,
.resultsLoading .loader:before {
  content: "";
  position: absolute;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

.logo {
  width: 100%;
}
.logo svg {
  max-width: 80px;
}

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
}

.selection {
  height: 200px;
  transition: 0.4s;
}
.selection .leave,
.selection .arrive {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
.selection .arrive {
  margin-left: 20px;
}
.selection .arrive[disabled] {
  opacity: 0.7 !important;
}

.results {
  align-content: flex-start;
  min-height: calc(100vh - 200px - 30px);
  overflow: hidden auto;
  position: relative;
  padding-bottom: 20px;
}
.results .ferry-block {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 0 0 0 20px;
  margin-top: 20px;
}
.results .ferry-block .data {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
  font-weight: 600;
}
.results .ferry-block .data svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.results .ferry-block .data.title {
  margin: 0 0 10px 0;
}
.results .ferry h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 10px;
}
.results .ferry h3 {
  font-size: 1em;
  font-weight: 400;
}
.results .ferry-info, .results .ferry-data {
  display: flex;
}
.results .ferry-info {
  flex-direction: column;
  padding: 20px 0;
}
.results .ferry .time {
  justify-content: center;
  width: 130px;
  color: #ffffff;
  margin: 0 0 0 auto;
  padding: 20px;
  background-color: #00b17e;
  border-radius: 0 10px 10px 0;
}